@{
    ViewData["Title"] = "Home Page";
}

<div id="cy"></div>

@section Scripts
{
    <script src="~/lib/cytoscape.min.js"></script>
    <script src="~/lib/dagre.js"></script>
    <script src="~/lib/cytoscape-dagre.js"></script>
    <script src="~/lib/axios.min.js"></script>
    <script src='~/js/visualization.js'></script>
}